<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>02:00</title>
    <link rel="stylesheet" href="//player.ooyala.com/static/v4/production/skin-plugin/html5-skin.min.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <script src="//player.ooyala.com/static/v4/production/core.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/bit_wrapper.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/main_html5.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/osmf_flash.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/youtube.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/skin-plugin/html5-skin.min.js"></script>
    <script type="text/javascript" src="../scripts/p1p1.js"></script>
  </head>
  <body class="p1Body">
    <header class="pHeader">
      <h1>Phase 1 - Page 1 - The Player must:</h1>
      <ul>
        <li>Autoplay</li>
        <li>Be chromeless</li>
        <li>Add external buttons where the user would be able to: Pause the player, Play the player, change the player volume</li>
      </ul>
    </header>
    <div id='container_1524368773'></div>
    <br>
    <br>
    <br>
    <br>
    <button id="btnPlay" type="button" class="control" onclick="ClickPlay()">Play</button>
    <button id="btnPause" type="button" class="control" onclick="ClickPause()">Pause</button>
    <button id="btnVolh" type="button" class="control" >Vol +</button>
    <button id="btnVoll" type="button" class="control" >Vol -</button>
    <button id="btnVoloff" type="button" class="control" onclick="ClickPause()">Vol off</button>
    <footer class="pFooter">
      <a href="../index.html">&#60;--- Home</a>
    </footer>
  </body>
</html>
