<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Phase 2 - Page 2</title>
    <!--<link rel="stylesheet" href="//player.ooyala.com/static/v4/production/skin-plugin/html5-skin.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="https://player.ooyala.com/static/v4/production/latest/skin-plugin/html5-skin.min.css">
    <script type="text/javascript" src="https://player.ooyala.com/static/v4/production/latest/core.min.js"></script>
    <script type="text/javascript" src="https://player.ooyala.com/static/v4/production/latest/video-plugin/main_html5.min.js"></script>
    <script type="text/javascript" src="https://player.ooyala.com/static/v4/production/latest/video-plugin/bit_wrapper.min.js"></script>
    <script type="text/javascript" src="https://player.ooyala.com/static/v4/production/latest/other-plugin/playlists.min.js"></script>
    <script type="text/javascript" src="https://player.ooyala.com/static/v4/production/latest/skin-plugin/html5-skin.min.js"></script>
    <!--<script src="//player.ooyala.com/static/v4/production/core.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/bit_wrapper.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/main_html5.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/osmf_flash.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/youtube.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/skin-plugin/html5-skin.min.js"></script>-->
    <script src="//player.ooyala.com/core/f1f3a6490d6f480b91d0d152a863d3c5?plugins=main,bm,pl"></script>
    <script type="text/javascript" src="../scripts/p1p2.js"></script>
  </head>
  <body class="p1Body">
    <header class="pHeader">
      <h1>Phase 1 - Page 2 - The Player must:</h1>
      <ul>
        <li>Add a thumbnail from a second video, when clicking the thumbnail the second video must start playing on the existing player.</li>
        <li>Modify at least 3 of the Player UI components (color, position, etc)</li>
      </ul>
    </header>
    <div id='container_1524368774'></div>
    <br>
    <br>
    <br>
    <br>
    <footer class="pFooter">
      <a href="../index.html">&#60;--- Home</a>
    </footer>
  </body>
</html>
