<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Phase 2</title>
    <link rel="stylesheet" href="//player.ooyala.com/static/v4/production/skin-plugin/html5-skin.min.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <script src="//player.ooyala.com/static/v4/production/core.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/bit_wrapper.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/main_html5.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/osmf_flash.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/youtube.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/skin-plugin/html5-skin.min.js"></script>
    <script type="text/javascript" src="../scripts/p2.js"></script>
  </head>
  <body class="p2Body">
    <header class="pHeader">
      <h1>Phase 2</h1>
      <ul>
        <li>Use at least 5 functions from our Player API </li>
        <li>Using the Player Bus Message, display on the user interface the following information:</li>
          <ul>
            <li>Every time the player buffers</li>
            <li>Every time the user clicks on a Player UI element (Either pausing the player, changing the volume, etc)</li>
            <li>Do something creative - show me your web dev skills - once the video finish</li>
          </ul>
      </ul>
    </header>
    <div id='container_1524368775'></div>
    <br>
    <br>
    <br>
    <br>
    <footer class="pFooter">
      <a href="../index.html">&#60;--- Home</a>
    </footer>
  </body>
</html>
