<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Phase 3</title>
    <link rel="stylesheet" href="//player.ooyala.com/static/v4/production/skin-plugin/html5-skin.min.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <script src="//player.ooyala.com/static/v4/production/core.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/bit_wrapper.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/main_html5.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/osmf_flash.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/video-plugin/youtube.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/skin-plugin/html5-skin.min.js"></script>
    <script type="text/javascript" src="../scripts/p3.js"></script>
  </head>
  <body class="p3Body">
    <header class="pHeader">
      <h1>Phase 3</h1>
      <ul>
        <li>Allow your users to change the video title. In order to accomplish this you must use our Backlot API</li>
        <li>Make the Mail icon disappear on the Player Share screen. </li>
      </ul>
    </header>
    <div id='container_1524368776'></div>
    <br>
    <br>
    <br>
    <br>
      <form action="http://gceratic.000webhostapp.com/P3.php" method="post">
        <!--look for the code of P3.php file, it's located at the "view" folder of this project, I had to upload the file to another server, due to Github Pages does not support php. -->
        <div>
          <label>Write the name for the video: </label>
          <input type="text" name="a" />
          <input type="submit" name="submit" id="btnTitle" class="control" value="Update" />
         </div>
      </form>
    <footer class="pFooter">
      <a href="../index.html">&#60;--- Home</a>
    </footer>
  </body>
</html>
